/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ibl-oauth-post-request input[type="text"] {
	font-family: Gilbert, sans-serif;
	font-size: 25px;
	color: white;
	background: navy;
	border: 0;
}
